<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122145648333-o81d6s3q2kspf8090d432musjfeboi2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122145648333-o81d6s3q2kspf8090d432musjfeboi2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDwFvc_is7S5tdeIqMeA21p5SCU1WSRaSA</string>
	<key>GCM_SENDER_ID</key>
	<string>122145648333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shop-app-ad559</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-app-ad559.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122145648333:ios:facfdf64e74e63d86f8384</string>
</dict>
</plist>